@use './theme' as *;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

::selection {
    color: var(--color-highlight);
    background-color: var(--color-highlight-bg);
}

/* 页面 */
body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 0.8em;
    transition: all 0.2s ease-in-out;
}

/* 链接 */
a {
    color: var(--color-link);
    text-decoration: none;

    &:hover {
        color: var(--color-link-hover);
        text-decoration: underline;
    }
}

/* 页面标题 */
$heading-sizes: (
    h1: 2.5rem,
    h2: 1.5rem,
    h3: 1.2rem,
    h4: 1.1rem,
    h5: 1rem,
    h6: 1rem
);

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-weight: normal;
    margin: 0.5em 0;
}

@each $tag, $size in $heading-sizes {
    #{$tag} {
        font-size: $size;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    >a {
        color: inherit;
        font-weight: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}



/* MARK: Table */
thead {
    border-top: 2px solid var(--color-card-border);
    border-bottom: 1.5px solid var(--color-card-border);
}

tbody {
    border-bottom: 2px solid var(--color-card-border);
}

th,
td {
    padding: 0.75rem 1rem;
    text-align: left;
}

th {
    font-weight: 600;
}

tr {
    border: none;
}

div.footer {
    padding-bottom: 0;
    padding: 2rem 10vw;
    width: 100%;
    background-color: var(--color-footer-bg);
}


/* 自定义滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background: var(--color-text);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-link);
}